[Desktop Entry]
Type=Application
Name=p2i
Comment=PDF & Image Processing Tool
Exec=/path/to/p2i/dist/p2i/p2i
Icon=/path/to/p2i/resources/icons/app_icon.png
Terminal=false
Categories=Utility;Graphics;